<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="header">
    <h1>KSL News Scraper</h1>
  </div>
  {{{body}}}
</body>

</html>